* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    line-height: 100%;
    color: #333;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1920px;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
}

input:focus {
    outline: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-direction: column;
    width: 100%;
}

h1, h2, h3, h4, a, span, p, b{
    line-height: 100%;
}